@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body{
	margin: auto;
	text-align: center;
}
nav{
	background-color: #303030;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 0px 10px 1px black;
}
.nav-wrapper{
	font-size: 30px !important;
	width: 30%;
	font-family: 'Sedgwick Ave Display', cursive;
}
nav.nav-wrapper ul{
	text-align: center;
}
.brand-logo{
	/*float: left;*/
	position: relative;
	background-image: url("../img/logo-1.png");
	background-size: cover;
	background-position: 50% 50%;
	margin: auto;
	width: 63px;
	height: 63px;
	transform: translate(-50%);
}
.parallax-container{
	color: white;
	height: 445px !important;
}
.parallax{
	padding-top: 130px;
	background-size: auto, cover;
}
.parallax #start-logo-img{
	bottom: 130px !important;
}
.overlay {
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0, 0.4);
	width: 100%;
	height: 100%;
}
.main-context{
	position: absolute;
	width: 100%;
	bottom: 18%;
	text-align: center;
	font-family: 'Sedgwick Ave Display', cursive;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
	color: rgb(255,215,0);
}
.context{
	position: absolute;
	width: 100%;
	bottom: 37%;
	text-align: center;
	font-family: 'Sedgwick Ave Display', cursive;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
	color: rgb(255,215,0);
}
h1, h2{
	font-family: 'Sedgwick Ave Display', cursive;
}
.about-container p, .description{
	font-family: 'Patua One', cursive;
	font-size: 20px;
}
.about-container hr{
	width: 30%;
}

.link-container{
	font-size: 26px;
}
.link-container a:hover{
	text-decoration: underline;
}
.resume-img img{
	height: 50%;
	width: auto;
	border: 2px solid black;
	box-shadow: 3px 3px 5px #888888;
}
.resume-download{
	padding-top: 20px;
}
.section{
	box-shadow: 0px 0px 10px 1px black;
}
.download-btn{
	font-size: 20px;
}
a{
	color: black;
}
/*all five slideshows*/
.vid-slider, .slider, .photo-slider, .survival-slider, .web-slider{
	position: relative;
	width: 100%;
	height: 30%;
	padding-bottom: 56.25%;
}
.video, .image, .photo, .survival, .web{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.vid-dot, .dot, .photo-dot, .survival-dot, .web-dot{
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: 0.6s ease;
}
.active, .vid-dot:hover, .dot:hover, .photo-dot:hover, .survival-dot:hover, .web-dot:hover{
	background-color: #717171;
}
iframe{
	margin: auto;
}
.hobby-1, .hobby-2, .hobby-3{
	width: 33%;
	margin: auto;
}
.hobby-list{
	margin:0;
	margin-bottom: 10px;
}
.hobby-list li{
	width: 80%;
	margin: auto;
}
.hobby-info{
	margin: auto;
	width: 560px;
	font-size: 20px;
}

footer{
	position: absolute;
	width: 100%;
	background-color: grey;
	padding-top: 10px;
}

/*mobile view*/
@media (min-width: 320px) and (max-width: 768px){
	[class*="hobby-"],[class*="project-"]{
		/*text-align: right;*/
		width: 85%;
		margin: auto;
	}
}
