.img {
  filter: drop-shadow(0 10px 30px rgba(255, 119, 0, 0.3));
  display: block;
  position: relative;
  left: 50%;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  opacity: 0;
  will-change: opacity;
}

.canvas {
  height: 85vh;
}

.canvas > canvas {
  position: relative;
  transform: scale(0.75);
  top: -10vh;
}
