@font-face {
  font-family: "Humanoid";
  src: url("assets/DisposableDroidBB.ttf");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  font-family: 'Space Mono', monospace;
  color: #fafafa;
  background-color: #444;
  margin: 0;
  padding: 0;
}

#root,
body {
  height: 100vh;
  width: 100%;
}

.navbar_wrapper {
  font-family: 'Humanoid', monospace;
  font-size: 36px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbar_wrapper > a {
  color: inherit;
  text-decoration: none;
  flex: 1;
  text-align: center;
}

.transition-group {
  height: 100%;
  width: 100%;
}

.reveal-appear,
.reveal-enter {
  opacity: 0;
}

.reveal-appear-active,
.reveal-enter-active,
.reveal-enter-done {
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1 !important;
}

.reveal-exit {
  transition: none;
  opacity: 1;
}

.reveal-exit-active,
.reveal-exit-done {
  opacity: 0;
}

html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover {
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.hover:hover {
  opacity: 0.5;
}

.container {
  width: 80vw;
}

.container.tight {
  width: 60vw;
}

@media (max-width: 500px) {
  .container,
  .container.tight {
    width: 90vw;
  }
}