.wrapper {
  opacity: 0;
  margin: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  text-align: center;
}

.header {
  font-family: 'Humanoid', monospace;
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.paragraph {
  margin: 0;
  font-size: 22px;
}

.icon_wrapper {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.icon {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.icon > * {
  fill: #fafafa;
  stroke: #444;
}

.icon.linkedin > *,
.icon.github > * {
  stroke: inherit;
}

.arrow_left_icon {
  position: absolute;
  left: 0;
  top: 0;
}

.icon.arrow_left > * {
  fill: none;
  stroke: #fafafa;
}

@media (max-width: 500px) {
  .header {
    font-size: 54px;
  }

  .paragraph {
    font-size: 18px;
  }
}
